<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create HR</title>
</head>
<body>
    <h1>Create HR</h1>
    <form action="/api/hr" method="POST">
        <label for="user_id">User_id:</label>
        <input type="number" id="user_id" name="user_id" required><br><br>

        <label for="hr_lead_id">Hr_lead_id:</label>
        <input type="number" id="hr_lead_id" name="hr_lead_id" required><br><br>

        <button type="submit">Create HR</button>
    </form>
</body>
</html>
